body
{
	margin:0px auto;
	padding: 0;

}
.main
{
	margin: 0px auto;
	padding: 0;
	height: 95px;
	/*background-color: pink;*/
	width: 1350px;
	overflow: hidden;
}
.slider
{
	height: 550px;
	width: 1350px;
	overflow: hidden;
	margin: 0px auto;
	/*background-color: yellow;*/
}
.contain
{
	height: 800px;
	width: 1350px;
	margin:0px auto;
	padding: 0;
}
.conup1
{
	width: 1350px;


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup2
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup3
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup4
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup5
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup6
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}
.conup7
{
	width: 1350px;
	


	overflow: hidden;
	margin:0px auto;
	
	

	padding: 30px 0px;
	
}